services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: budget
      POSTGRES_PASSWORD: budget58
      POSTGRES_DB: budgetdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://budget:budget58@db:5432/budgetdb
    volumes:
      - ./app:/app/app
    restart: on-failure


volumes:
  postgres_data:
